*.pyc
.DS_Store
.idea
.vscode
__pycache__/
.env/
.venv/
env/
venv/
.idea
.venv
.uv-cache
logs
node_modules
frontend/.vscode
WareHouse/
data/
temp/
_mb-ws/nul

_mb-ws/output/20260129_195817/generated_code/nul
